/* Rio Aditya */
/* 121140140 */
/* Kelas RB */

input {
    width: 75%;
    margin-bottom: 20px;
    padding: 10px;
    color: #0c0e77;
}

.kalkulator {
    text-align: right;
    width: 300px;
    height: 300px;
    border: 2px solid #0007d9;
    padding: 15px;
    border-radius: 5%;
    
}

.keys {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px 2px;
}

.result{
    background-color: rgb(74, 76, 145);
}

.result:hover{
    background-color: rgb(131, 125, 164);
}

button {
    font-size:medium;
    height: 50px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4a5ec0;
    color: rgb(255, 255, 255);
}

button:hover{
    background-color: #544a91;
}
